* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: rgb(169, 235, 252);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header button {
  background: transparent;
  border: none;
  color: rgb(169, 235, 252);
  padding: 5px 10px;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  top: 12px;
  left: 15px;
  bottom: 12px;
}

#map { 
  height: calc(100vh - 60px); 
  transition: transform 300ms ease-out;
}

.res-list {
  width: 250px;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: -250px;
  z-index: 1000;
  padding: 15px;
  background: #333333;
  height: 100vh;
  transition: transform 300ms ease-out;
  overflow-y: scroll;
}

.res-list li {
  display: block;
  margin: 3px 0;
}

.res-list ul {
  margin: 0;
  padding: 0;
}

input {
  font-size: 15px;
  display: block;
  width: 100%;
  margin: 15px 0;
}

.res-list button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  /* color: #fff; */
  border-radius: 3px;
}

*:focus {
  outline: 3px solid #ee240a;
}
         
.shift { 
  transform: translateX(250px);
}

.error-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  padding: 15px;
  background-color: rgba(229,57,53,0.9);
  color: #ffffff;
  font-weight: 500;
  display: none;
}